<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
         <!-- materialize -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
         <!--stylesheet-->
         <link rel="stylesheet" href="styles/gallery.css"></link>
    </head>
    <body>

        <div class="parallax-container">
            <div style="position:absolute; left: 0, right: 0; top: 50%">
                <h1>this is the gallery page</h1>
            </div>
          <div class="parallax"><img src="https://images6.alphacoders.com/373/373654.jpg"></div>
        </div>
        
        <container>
            <section>
                <h1>this is section one</h1>
                <h2>heading 2</h2>
                <h3>heading 3</h3>
                <h4>heading 4</h4>
                <h5>heading 5</h5>
            </section>
        </container>
    
        
        
    <!-- jquery cdn -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="src/gallery.js"></script>
    </body>
</html>