<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <!--Let browser know website is optimized for mobile-->
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <!-- materialize -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
         <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <!--stylesheet-->
         <link rel="stylesheet" href="../styles/moodTracker.css"></link>
    </head>
    
    <body>
        
        <div class="header">
            <div>
                <h3>Mood Tracker</h3>
                <h5>A Minimalist Health App</h5>
            </div>
        </div>


        <div class="parallax-container">
            <div class="container valign-wrapper">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h4>Track Weight</h4>
                        <i class="material-icons large">trending_up</i>
                    </div>
                    
                    <div class="col s12 m4 l4">
                        <h4>Track Mood</h4>
                        <i class="material-icons large">face</i>
                    </div>
                    
                    <div class="col s12 m4 l4">
                        <h4>Track Strength</h4>
                        <i class="material-icons large">fitness_center</i>
                    </div>
                </div>
            </div>
          <div class="parallax"><img src="http://professor-excel.com/wp-content/uploads/2016/01/Wallpaper_Excel_1.png"></div>
        </div>
        
        <div class="header">
            <div>
                <h3>In Development</h3>
                <h5>Available for iOS/Android Soon...</h5>
            </div>
        </div>
        
        <!--scripts-->
        <!-- jquery cdn -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <!--materialize script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <!--main js file-->
        <script src="../src/moodTracker.js"></script>
        
    </body>
</html>