<!DOCTYPE html>
<html>
    <head>
        <title>Gallery</title>
        <!--Let browser know website is optimized for mobile-->
         <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
         <!-- materialize -->
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
         <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <!--stylesheet-->
         <link rel="stylesheet" href="../styles/moodTracker.css"></link>
    </head>
    
    <body>
        
        <div class="header">
            <div>
                <h2>Mood Tracker</h2>
                <h5>A Minimalist Health App</h5>
            </div>
        </div>
        
        <!--http://professor-excel.com/wp-content/uploads/2016/01/Wallpaper_Excel_5_Windows-1.png-->


        <div class="parallax-container">
            <div class="container valign-wrapper">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h4>Track Weight</h4>
                        <i class="material-icons large">trending_up</i>
                    </div>
                    
                    <div class="col s12 m4 l4">
                        <h4>Track Mood</h4>
                        <i class="material-icons large">face</i>
                    </div>
                    
                    <div class="col s12 m4 l4">
                        <h4>Track Strength</h4>
                        <i class="material-icons large">fitness_center</i>
                    </div>
                </div>
            </div>
          <div class="parallax"><img src="http://professor-excel.com/wp-content/uploads/2016/01/Wallpaper_Excel_1.png"></div>
        </div>
        
          <div class="parallax-container">
            <div class="screenshot-container">
                <img 
                    class="screenshot"
                    src="https://lh3.googleusercontent.com/_KzGdJ7Qs21ntpRGtNXJtkisLNshoRe2zarTi7HPMRJmgWcWoNQ0Jhs14JLrr1dpYLfGNdNeIPhIARtB3dkIiUNOTvnDf9JZjV69DGt39zeVR1mUffhSRwWiflUN0wwIHits5P7D56Z7OLrgR_fBXO-RkZCpdPiT7UyiXz0ajjrGJ_xbPi2NGk4jCwk5LaJR4bgya3dHiCVRmiJSoCL7mzEEuMnnVNFluQ7w8ECWoOvPE3_qJkijNPQzOENC_gItrY4ivI6o9l0zEhm1Nb50yxVjjzmcW3wOApWAiaFjS05YePkR6P8xhCHxZ1Fmjk83FiemGmyMbz9tpr1Rmj9FEmk-e71p6XCGse1ccSo76NclOcd0GWjgyweN-uQRyM51V9pjZ0CCvQAetyKDRLqGhKn7wkIzIvgmdKi70RACFEvZCTJyL8MRUYguamn1aNRxeQIMGCiQjN_-y0EQCVf3Wd8d6X26caadbJgX6n_mtGZKFmbv_H226yYVx0_oZy3SsWNXlIylCiHQ5BK4Wwh13kMHa-BKk6AsI0l5HWWpQmEA6ZHOl09ov9Gm8WJs7xLP76EY46h4XRey0dlKauZIBPTCuIl-VzP6SAO8LhkB5CVn3QIorcAh=w368-h654-no" />
                <img 
                    class="screenshot hide-on-small-only"
                    src="https://lh3.googleusercontent.com/haG0UstrZ-dhe19t5WTMeSHzh3KmlGBY9o6W6z3HOKUJlpxsaWhqljkaIWqq11mmBrR8USzcsh6tI_PwXRK9ysjMiJS0ISSNTqR7U0Axxbj5h9J5OrKl0u4jN1KzM_qYua_-gjdgvWVVnf-ZEeUNWghb6BAUZaEBB39Y8eDJ--BiZKrtz0ShnB7hukMyVe2SpL0lnjEg4hjUI6ae0Z5tKUpFGjcvI6KvwpqpUA8yN6KAeFFuw7UHmdcwegNDSNNheccLAfFw2yM2ipjV9EdzBvpittoaIeLjDGilhn2A_F1YYP0DIeWdRMBLc5I_UIIdWwT7VoggzCTq8SCge2hMhrpeSmDt1rFUxG0c6jVMMAQ0chG9EWNyJD_-4DwTD7Jqvs_m0eQ9IwetzkT8mW8VVxc5nZhCkdRWSeibi7OROZyZMYO1qVeLJVVY7s79ZIMoOk27at6HcEv2o_D_uBySs4q8Bp3gs1NPVhUgch5isD7_qVkztpKMyDlZ4qB3lZUkNTOgooIYYezaqFg4IKN5RMJt_kdtV6PMND7J6_67kswvq5WL8rUUtdodFnkTVaav6PQUPOUuHP3OY46BeeHCfgr7imrkAxqJezjANzWOqhwH6i8W1Q1A=w368-h654-no"
                />
            </div>
            <div class="parallax"><img src="http://professor-excel.com/wp-content/uploads/2016/01/Wallpaper_Excel_5_Windows-1.png"></div>
        </div>
        
        
        <div class="header">
            <div>
                <h3>In Development</h3>
                <h5>Available for iOS/Android Soon...</h5>
            </div>
        </div>
        
        <!--scripts-->
        <!-- jquery cdn -->
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <!--materialize script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <!--main js file-->
        <script src="../src/moodTracker.js"></script>
        
    </body>
</html>

