.parallax-container {
    height: 100vh;
}

#gallery-parallax {
    height: auto;
    padding: 60px 30px;
}

body {
    background: url('http://res.cloudinary.com/tempest/image/upload/c_limit,cs_srgb,w_10000/MTM2ODI1NzM3OTA1ODQxNzU5.png');
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: white;
    padding-left: 10px;
}

h3 {
    padding-left: 5px;
    font-weight: bold;
    margin-top: 5px;
}

.container {
    padding-top: 60px;
}

.vertical-title {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40px;
    z-index: 5;
}

.bottom-right-title {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 5px;
}