body {
  background:gray;
  color:white;
  text-align: center;
  font-family: "Cabin";
  /*background:url('https://i.imgur.com/ltmWANZ.png');*/
  /*background:url(../src/images/stars.png), #333;/*/
  background:url("../src/images/colorful.jpg");
  /*background:url("http://i.imgur.com/smIamLU.jpg");*/
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 8em;
  font-family: "Permanent Marker";
  /*text-shadow:10px 5px black;*/
  text-shadow: 10px 6px black;
  
}

.headline {
    text-shadow: 9px 13px black;
      font-size: 11em;
}

.sub-headline {
  font-size: 4.5em;
  font-family: "Permanent Marker";
  text-shadow: 0px 8px black;

}

h4 {
  font-size:3.2em;
}

.btn-outline-custom {
  background:transparent;
  /*margin-top:20px;*/
  border: 4px solid white;
  font-size:28px;
  width:auto;
  min-width:70px;
  padding:10px;
  text-align:center;
  font-weight:bold;
  color:white;
}

.no-border {
  border:none;
}

.resume {
  margin-top:7px;
  width:auto;
}

.wider-button {
  padding: 10px 20px;
}

.btn-outline-custom:hover {
  /*border: 4px solid rgba(0,0,0,0.35);*/
  /*box-shadow: 0px 5px 3px black;*/
  /*border-bottom:6px solid black;*/
  /*background:rgba(0,0,0,0.5);*/
  /*color:orange;*/
  -webkit-transition: all 900ms; /* Safari */
  /*transition: all 1500ms linear;*/
}

.fa {
  font-size:2.5em;
  padding:5px;
}

.fa-arrow-right, .fa-arrow-left {
  font-size:1.5em;
}


hr {
  width:70%;
  box-shadow:5px 5px black;
}

img {
  width:20%;
  box-shadow:5px 5px 25px black;
}

section {
  background:transparent;
}

.portfolio-text {
  padding: 20px 22%;
  font-size:2.5em;
  line-height: 50px;
}

strong {
  color:orange;
  font-weight:bold;
}

.project-sub-title{
  background:rgba(0,0,0,0.5);
  padding: 10px; 
  font-size:3.5em; 
  /*font-weight:bold*/
}

.arrow-box {
  margin-top: 40px;
}

.arrow-box > .fa {
  font-size: 7em;
}

/*portfolio section slides*/
#portfolio-title-slide {
  background:transparent;
}
/*fittools*/
#portfolio-item1 {
  background:
    url("../src/images/fittools (1).png");
  background-color:#333;
  background-blend-mode: multiply;
  background-size:cover;
}

#portfolio-item-11 {
  
    background:
    url("../src/images/noted (1).png");
  background-color:#333;
  background-blend-mode: multiply;
  background-size:cover;
}

/*fitbook*/
#portfolio-item2 {
  background:url('../src/images/fitboard.png');
  background-color:#333;
  background-blend-mode: multiply;
  background-size:cover;
}

/*youtube clone*/
#portfolio-item4{
  background:url('../src/images/youtube.png');
  background-color:#333;
  background-blend-mode: multiply;
  background-size:cover;
}

#title {
  background:transparent;
  /*background: #fbe8b0;*/
}

#skills {
  background: #b5ba63;
}

#portfolio {
  background:black;
}


/*media queries*/

/*=====================*/
/*iphone 6 and 6+ sizes*/
/*=====================*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 1024px)  { 

    h1 {
      font-weight:bold;
      font-size:11em;
      text-shadow: 10px 21px black;
  }
  
  h4 {
    font-size: 4em;
  }
  
  /*.fa {*/
  /*  font-size:2em;*/
  /*}*/
  
  .portfolio-text {
    padding: 20px 20%;
    font-size:3em;
    line-height:80px;
  }
  
  .resume {
    margin-top:7px;
    width:auto;
    font-size:5em;
  }
  
  .btn-outline-custom {
    margin-top:20px;
    font-size:3em;
    width:auto;
    padding:20px;
    height:auto;
  }
  
  .wider-button {
    padding: 20px 40px;
    font-size:4em;
    border:10px solid white;
  }
  
  .sub-headline {
    font-size:5em;
  }
  
  .headline {
    text-shadow: 4px 12px black;
    text-shadow: 10px 21px black;
}
  
  body, h4 {
    font-family: "Cabin"
  }

}